<div id="homePortal">
  <container id="mapContainer">
    <leaflet id="map"center="center" controls="controls" overlays="overlays" geojson="geojson" paths="paths" layers="layers" markers="markers" event-broadcast="events">
    </leaflet>
    <div id="ownerDashboard">
        <ol class="list group">
          <li class="list-group-item" ng-click="showAddressForm=!showAddressForm"> Register Address</li>
            <form ng-submit="registerAddress()" name="addressRegistry" ng-show="showAddressForm">
              <div class="group">
                <input type='text' placeholder="Address Line 1" ng-model='newAddress.line1' required>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <div class="group">
                <input type='text' placeholder="Address Line 2" ng-model='newAddress.line2'>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <div class="group">
                <input type="text" placeholder="City" ng-model='newAddress.city' required>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <div class="group">
                <select ui-view="states@HomePortal" placeholder="state" autocomplete="on" name="State" ng-model="newAddress.state"  required>
                </select>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <div class="group">
                <input type="number" placeholder="Zip Code" ng-model='newAddress.zip' required>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <input type="submit" value="Register Address" class="btn btn-default btn-raised white">
            </form>
          <li class="list-group-item" ng-click="listPermissions=!listPermissions"> Set Permission </li>
          <ol class="list group" ng-show="listPermissions" ng-repeat="address in addresses">
            <li class="list-group-item" ng-click="ShowTimes=!ShowTimes; zoomToAddress(address)"> {{address.address}} </li>
            <form name="setPermission" ng-show="ShowTimes" ng-submit='updatePermission(address, restriction_start_time, restriction_end_time)' >
              <div class="group">
                <label>Restriction start time</label>
                <input type="time" ng-model='restriction_start_time' >
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <div class="group">
                <label>Restriction end time</label>
                <input type="time" ng-model='restriction_end_time'>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <input type="submit" value="Set Restrictions for Drone Flight" class="btn btn-default btn-raised white" >
              <input type="submit" ng-click = "restriction_start_time=null; restriction_end_time=null"value="Allow All Drones" class="btn btn-default btn-raised white">
            </form>
          </ol>
          <li class="list-group-item" ng-click="listAddresses=!listAddresses"> Remove Address</li>
            <ol  class="list group" ng-show="listAddresses" ng-repeat="address in addresses">
              <li class="list-group-item" ng-click="ShowTimes=!ShowTimes; zoomToAddress(address)"> {{address.address}} </li>
              <input ng-click="removeAddress(address)" type="submit" value="Remove Address" class="btn btn-default btn-raised white" >
            </ol>
        </ol>
      </div>
  </container>
  </div>
