<div id="homePortal">
  <container id="mapContainer">
    <leaflet id="map"center="center" controls="controls" overlays="overlays" geojson="geojson" paths="paths" layers="layers" markers="markers" event-broadcast="events">
    </leaflet>
    <div id="ownerDashboard">
        <ol class="list group">
          <li class="list-group-item mainItem" ng-click="showAddressForm=!showAddressForm; listAddresses=false; listPermissions=false"> Register Address <span class="glyphicon glyphicon-chevron-down"></span></li>
            <form ng-submit="registerAddress();showAddressForm=!showAddressForm" name="addressRegistry" ng-show="showAddressForm">
              <div class="group">
                <input class="register"type='text' placeholder="Address Line 1" ng-model='newAddress.line1' required>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <div class="group">
                <input class="register" type='text' placeholder="Address Line 2" ng-model='newAddress.line2'>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <div class="group">
                <input type="text" class="register" placeholder="City" ng-model='newAddress.city' required>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <div class="group">
                <label name"state">State</label>
                <select class="register" ui-view="states@HomePortal" placeholder="state" autocomplete="on" name="State" ng-model="newAddress.state"  required>
                </select>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <div class="group">
                <label name="zip">Zip Code</label>
                <input class="register zip" type="number" ng-model='newAddress.zip' ng-minlength='5' ng-maxlength='5' required>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <input type="submit" value="Register Address" class="btn btn-default btn-raised white register">
            </form>

          <li class="list-group-item mainItem" ng-click="listPermissions=!listPermissions; showAddressForm=false; listAddresses=false;";> Set Restriction Times <span class="glyphicon glyphicon-chevron-down"></span></li>
          <ol class="list group" ng-show="listPermissions" ng-repeat="address in addresses">
            <li class="list-group-item addressSelect" ng-click="ShowTimes=!ShowTimes; zoomToAddress(address)"> {{address.properties.address}} <i class="mdi-image-timelapse"></i>
            </li>

            <form name="setPermission" ng-show="ShowTimes" ng-submit="ShowTimes=!ShowTimes">
            <div class="radio">
              <label>
                <input type="radio" name="restrictionSetting" id="noRestrictions" value="noRestrictions" ng-click="checked = !checked; times.restriction_start_time = null; times.restriction_end_time=null" checked>
                No Restrictions
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="restrictionSetting" ng-init="checked=false" ng-model="checked" id="setRestricions" value="setRestrictions">
                Set Restrictions
              </label>
            </div>
              <div class="group time clearfix" ng-if="checked" >
                <label>Restriction start time</label>
                <input type="time" ng-model='times.restriction_start_time' required>
                <span class="highlight"></span> 
                <span class="bar"></span>
              </div>
              <div class="group time clearfix" ng-if="checked" >
                <label>Restriction end time</label>
                <input type="time" ng-model='times.restriction_end_time' required>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <input type="submit" value="Set Restrictions" class="btn btn-default btn-raised white time" ng-click="updatePermission(address)">
            </form>
          </ol>
          <li class="list-group-item mainItem" ng-click="listAddresses=!listAddresses; showAddressForm=false; listPermissions=false;"> Remove Address<span class="glyphicon glyphicon-chevron-down"></span></li>
            <ol  class="list group" ng-show="listAddresses" ng-repeat="address in addresses">
              <li class="list-group-item addressSelect" ng-click="ShowTimes=!ShowTimes; zoomToAddress(address); removeAddress(address)"> {{address.properties.address}} <i class="mdi-navigation-cancel"></i>
              </li>
            </ol>
        </ol>
      </div>
      <div class="errorMessage fx-fade-normal fx-speed-2000" ng-if="newError"> <i class="mdi-alert-warning"></i>{{errorMessage}}</div>
  </container>
  </div>

