<div id="homePortal">
  <container id="mapContainer">
    <leaflet id="map"center="center" controls="controls" overlays="overlays" geojson="geojson" paths="paths" layers="layers" markers="markers" event-broadcast="events">
    </leaflet>
    <div id="ownerDashboard">
        <ol class="list group">
          <li class="list-group-item mainItem" ng-click="showAddressForm=!showAddressForm"> Register Address<span class="glyphicon glyphicon-chevron-down"></span></li>
            <form ng-submit="registerAddress();showAddressForm=!showAddressForm" name="addressRegistry" ng-show="showAddressForm">
              <div class="group">
                <input class="register"type='text' placeholder="Address Line 1" ng-model='newAddress.line1' required>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <div class="group">
                <input class="register" type='text' placeholder="Address Line 2" ng-model='newAddress.line2'>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <div class="group">
                <input type="text" class="register" placeholder="City" ng-model='newAddress.city' required>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <div class="group">
                <label name"state">State</label>
                <select class="register" ui-view="states@HomePortal" placeholder="state" autocomplete="on" name="State" ng-model="newAddress.state"  required>
                </select>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <div class="group">
                <label name="zip">Zip Code</label>
                <input class="register zip" type="number" ng-model='newAddress.zip' required>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <input type="submit" value="Register Address" class="btn btn-default btn-raised white register">
            </form>
          <li class="list-group-item mainItem" ng-click="listPermissions=!listPermissions"> Set Restriction Times <span class="glyphicon glyphicon-chevron-down"></span></li>
          <ol class="list group" ng-show="listPermissions" ng-repeat="address in addresses">
            <li class="list-group-item addressSelect" ng-click="ShowTimes=!ShowTimes; zoomToAddress(address)"> {{address.properties.address}} <span class="glyphicon glyphicon-time"></span>
            <!-- <button class="btn btn-fab btn-fab-mini btn-raised btn-sm btn-success"><i class="mdi-navigation-check"></i></button> -->
            </li>

            <form name="setPermission" ng-show="ShowTimes" ng-submit="updatePermission(address, restriction_start_time, restriction_end_time);ShowTimes=!ShowTimes">
            <div class="togglebutton">
                <label>
                  Set Restrictions
                  <input type="checkbox" checked=""><span class="toggle"></span>
                </label>
              </div>
              <div class="group time">
                <label>Restriction start time</label>
                <input type="time" ng-model='restriction_start_time' >
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <div class="group time">
                <label>Restriction end time</label>
                <input type="time" ng-model='restriction_end_time'>
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <input type="submit" value="Set Restrictions" class="btn btn-default btn-raised white time" >
              <input type="submit" ng-click = "restriction_start_time=null; restriction_end_time=null"value="Remove All Restrictions" class="btn btn-default btn-raised white time">
            </form>
          </ol>
          <li class="list-group-item mainItem" ng-click="listAddresses=!listAddresses"> Remove Address<span class="glyphicon glyphicon-chevron-down"></span></li>
            <ol  class="list group" ng-show="listAddresses" ng-repeat="address in addresses">
              <li class="list-group-item addressSelect" ng-click="ShowTimes=!ShowTimes; zoomToAddress(address)"> {{address.properties.address}} <span ng-click="removeAddress(address)" class="glyphicon glyphicon-remove-circle"></span></li>
            </ol>
        </ol>
      </div>
  </container>
  </div>
