/* Large desktops and laptops */
@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }
  #signin .group > input, #signup .group > input {
    width: 45%;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 16px;
  }

  #signin .group > input, #signup .group > input {
    width: 45%;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 14px;
  }
  #signin .group > input, #signup .group > input{
    width: 50%;
  }
  .about p.description {
    font-size: 1.1em;
  }
  #ownerDashboard {
    width: 40%;
  }
  #leaflet-control-geosearch-qry {
    width: 45%;
  }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  body {
    font-size: 12px;
  }
  #signin .group > input, #signup .group > input{
    width: 75%;
  }
  #ownerDashboard {
    width: 40%;
    margin-top: 7em;
  }
  #leaflet-control-geosearch-qry {
    width: 30%;
  }
  .errorMessage {
   width: 70%;
  }
  .about img.member {
    height: 8em;
    width: 8em;
  }
  .about h1 {
    margin-top: 1.5em;
    font-size: 2em;
  }
  .about .col-lg-2.col-sm-3.text-center{
    display: inline-block;
  }
  .about p.description {
    font-size: .8em;
  }
  table.clock {
    width: 90%;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  body {
    font-size: 10.5px;
  }
  #signin .group > input, #signup .group > input{
    width: 100%;
  }
  #ownerDashboard {
    width: 40%;
    margin-top: 7em;
  }
  #leaflet-control-geosearch-qry {
    width: 30%;
    font-size: .8em;
  }
  .errorMessage {
   width: 70%;
  }
  .about .col-lg-2.col-sm-3.text-center{
    display: inline-block;
  }
  .about p.description {
    font-size: .8em;
  }
  table.clock {
    width: 120%;
  }
}