body {
	padding-top: 2px;
  /*background-color: rgba(0,0,0,.9);*/
<<<<<<< HEAD
<<<<<<< HEAD
  background-color: rgba(0,0,0,.9);
=======
>>>>>>> [done] initial all goals page
=======
>>>>>>> eb69d1e8fa2528f6c0ebcf92a2280ec11c0bf744
}


/* kind of hacky way to improve the web UI. may affect mobile, and need to be changed */

textarea {
	resize: none !important;
}

#paymentscope {
  border: .5em solid #f5f5f5;
  overflow: hidden;
  box-shadow: 0 0 .2em  gray;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.ui.inverted.menu .item .item.logout {
  color: white;
}

main.ui.page.grid#goalsPage {
  margin-top: 3rem;
}


div#venmoAuth {
  margin-top: 1em;
}
div.venmoAuth {
  color: white;
  display: inline-block;
  float: top;
}

.ui.icon.button.venmoAuth {
  vertical-align: top;
  height:2.5em;
  margin: auto;
  font-size: 1.2em;
}

div#friendsList{
  display: inline-block;
  width: 55%;
  float: left;
}
div#friendsList.ui.form >label {
  text-align: left;
  font-size: 12em;
}

#conditions {
  font-size: 1.5em;
  display: inline-block;
  width: 35%;
}
.ui.label.friends, .ui.label.amount {
  width: 125%;
}



.ui.form .field.friends, .ui.form .field.amount{
  margin-left: 3em;

}

.ui.form .fields:last-child .field, .ui.form :not(.fields) .field:last-child {
  margin-bottom: 1em;
}

#venmologo {
    width: 10%;
    height: 0;
    padding-bottom: 5em;
    overflow: hidden;
}

#venmologo img {
    display: block;
    width: 40%;
    height: auto;
}

a.venmoAuth {
  color: white;
}


.flock {
  height: 95vh;
  background-image: url('../images/flock.jpg');
}
.mapfont {
  padding-right: 20px;
  font-size: 100px;
  font-weight: bold;
  color: #ffffff;
}
.mapdiv {
  /*display: none;*/
  height: 100vh;
  background-image: url('../images/mountain.jpg');
  /*opacity: 0.8;*/
}
ui.image.map {
  display: none;
  height: 75%;
  width: 75%;
  opacity: 0.6;
}
.herdfont {
  padding-left: 20px;
  font-size: 100px;
  font-weight: bold;
  color: #ffffff;
}