
/*********** Main ***************/
html, body {
  margin:0;
  padding:0;
  width: auto;
  overflow: hidden;
  height: 100%;
}


.container-fluid.main{
  padding: 0;
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: transparent;
}

body {
  opacity: 1;
  webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  font-family: open-sans,'Segoe WP','Segoe UI',Helvetica,Arial,sans-serif;
  font-size: 16px;
  min-width: 320px;
  line-height: 1.428571429;
  color: #373737;
  background-color: #fdfdfe;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/**** Bootstrap Overides ******/
h2, .h2 {
  font-size: 2em;
}

h3, .h3 {
  font-size: 1.5em;
}

h4, .h4 {
  font-size: 1.125em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/*********** Main NavBar ***************/

nav .container {
  padding: .5em 1em;
  font-size: .8em;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

nav.navbar.navbar-default.main {
  margin-bottom: 0;
  background-color: #680000;
  position: absolute;
  z-index: 100;
  width: 100%;
}

.navbar-header a.navbar-brand.title {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bolder;
  font-size: 1.5em;
}

nav.navbar.main a {
  font-size: 1.1em;
  padding-right: 1em;
  color: white;
}

nav .navbar-collapse a:active, nav .navbar-collapse a:hover, nav .navbar-collapse a:focus {
  text-shadow: .03em .03em .03em rgba(50, 50, 50, 0.5);
  -webkit-border-radius: .1em;
  -moz-border-radius: .1em;
  color: rgb(200, 200, 200);
  text-shadow: -.03em -.03em .03em rgba(, 50, 50, 0.5);
  border-radius: .1em;
  background: rgb(95, 0, 0);
  background: -moz-linear-gradient(90deg, rgb(60, 0, 0) 10%, rgb(120, 0, 0) 90%);
  background: -webkit-linear-gradient(90deg, rgb(60, 0, 0) 10%, rgb(120, 0, 0) 90%);
  background: -o-linear-gradient(90deg, rgb(60, 0, 0) 10%, rgb(120, 0, 0) 90%);
  background: -ms-linear-gradient(90deg, rgb(60, 0, 0) 10%, rgb(120, 0, 0) 90%);
  background: linear-gradient(0deg, rgb(60, 0, 0) 10%, rgb(120, 0, 0) 90%);
} 

nav.navbar.navbar-default.main .container-fluid {
  padding-right: 0;
}


/*************** Landing Page ******************/

div.menu.row {
  position: relative;
  bottom: -5em;
}
.background.carousel-inner{
  height: 100%; 
  width: 100%;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
}

.item.banner-text {
  text-align: left;
  margin: 0;
}

.banner-text h3{
  margin-top: 1em;
  font-weight: 100;
  line-height: 1.1em;
}

.carousel-inner {
  -webkit-transition: 2.5s ease-in-out left;
  -moz-transition:2.5s ease-in-out left;
  -o-transition: 2.5s ease-in-out left;
  transition: 2.5s ease-in-out left;
  position: relative;
}

.background.carousel-inner >.item {
  width: 110%;
  height: 110%;
  -webkit-transition: 2.5s ease-in-out left;
  -moz-transition:2.5s ease-in-out left;
  -o-transition: 2.5s ease-in-out left;
  transition: 2.5s ease-in-out left;
  -webkit-background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  min-width: 100%;
  left: 0;
  right: auto;
  bottom: auto;
  top: 0;
  overflow: hidden;
  animation:move 4s ease-out alternate; /* Change this to alternate to stop the loop. */
  -ms-animation:move 4s ease-out alternate;
  -webkit-animation:move 4s ease-out alternate;
  -0-animation:move 4s ease-out alternate;
  -moz-animation:move 4s ease-out alternate;
  position: absolute;
  -webkit-filter: opacity(70%) brightness(0.7);
  filter: opacity(70%) brightness(0.7);
}

@-webkit-keyframes move {
  from {
    transform: scale(1.0);
    -ms-transform: scale(1.0); /* IE 9 */
    -webkit-transform: scale(1.0); /* Safari and Chrome */
    -o-transform: scale(1.0); /* Opera */
    -moz-transform: scale(1.0); /* Firefox */
  }
  to {
    transform: scale(1.2);
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
    -moz-transform: scale(1.2); /* Firefox */
  }
}

.carousel-indicators {
  display: none;
}

.overlay { 
  color:#fff;
  position:absolute;
  z-index:12;
  left:0;
  width:100%;
  text-align:center;
  text-shadow: .1em .1em .1em rgba(50, 50, 50, 0.8);
}

h1.title, a.landingPage{
  text-align: left;
  font-weight: bolder;
  font-size: 4.5em;
  font-family: 'Julius Sans One', sans-serif;
}

div.overlay a{
  display: inline;
  text-align: left;
  color: white;
}

.carousel {
  height: 100%;
}

.carousel .one {
  background: url('../assets/drone-in-sunset.jpg') no-repeat;
}
.carousel .two {
  background: url('../assets/parcelVis2.jpeg') no-repeat;
}
.carousel .three {
  background: url('../assets/grassDrone.jpg') no-repeat;
}
.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}

aside.notify.col-md-4 a {
  margin: 0;
  line-height: 1.5em;
  font-size: 1.1em;
  padding: .3em 0;
  border-bottom: .1em solid #fdfdfe;
  display: inline-block;
}

.notify h3 {
  margin-top: .5em;
}

aside.notify.col-md-4 i {
  font-size: 1.2em;
  vertical-align: middle;
}

aside.notify.col-md-4 a:hover, aside.notify.col-md-4 a:focus, aside.notify.col-md-4 a:active {
  text-decoration: none;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transform: translate(1em, 0);
  transform: translate(1em, 0);
}

aside.notify, div.landingPage, div.title, div#banner-text {
  text-align: left;
  padding-left: 5em;
  padding-top: 3em;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
}

 div.landingPage, div#banner-text {
  margin-top: 4em;
 }

ul.transparent {
  background-color: rgba(0, 0, 0, 0);
  list-style-type: none;
  border-bottom: none;
  padding-left: 0;
  margin-left:0;
}

ul.transparent li {
  text-decoration: none;
  font-size: 1.1em;
  text-align: left;
  padding: 0;
  margin-top: .5em;
  /*font-weight: lighter;*/
}

ul.transparent > li > a{
  display: inline-block;
  padding-right: 1em;
  line-height: 1.2em;
}

ul.transparent > li > a:hover {
  border-right: .2em solid white;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transform: translate(1em, 0);
  transform: translate(1em, 0);
  text-decoration: none;
}

/********************* Login / Signup ********************/

#signin, #signup {
  width: 100%;
  height: 100%;
  font-size: 1.2em; 
  background: url('../assets/stripey-drone.jpg') no-repeat;
  -webkit-background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: grayscale(75%);
  -webkit-filter: grayscale(75%);
}

#signin h1.title , #signup h1.title {
  margin-top: 1em;
  padding-left: 0;
  padding-top: .5em;
  color: white;
  text-align: left;
  font-size: 3em;
  text-shadow: .1em .1em .1em rgba(50, 50, 50, 0.8);
}

#signup p, #singin a, #signup a, a.link{
  text-shadow: .1em .1em .1em rgba(50, 50, 50, 0.8);
  text-align: left;
  display: block;
  color: white;
}


#signup a, #singin a, a.link {
 font-size: .8em 
}

form[name="signinForm"], form[name="signupForm"] {
  text-align: left;
}

#signin .group > input, #signup .group > input{
  display: block;
  text-indent: .3em;
  width: 30%;
  margin-top: .5em;
  font-size: .8em;
}

#signin a:active, #signup a:active, #signin a:hover, #signup a:hover, #signin a:focus, #signup a:focus {
  color: white;
  text-decoration: underline;
}

#signup p.subtitle {
  text-align: left;
  color: white;
  width: 100%;  
}

.errorMessage {
 background-color:  #B54747;
 opacity: .75;
 width: 55%;
 text-indent: .5em;
 border-radius: .5em;
 border: .1em solid white;
 color: white;
 margin-top: 1em;
 text-align: center;
 font-size: .9em;
 padding: .5em;
}

.mdi-alert-warning {
  margin-right: .5em;
}

#mapContainer {
 height: 100%;
 width: 100%;
}

#homePortal {
  position: relative;
  z-index: 0;
  height: 100%;
}

/********************* About Page  ********************/

.about {
  background: white;
  color: #680000;
  height: 100%;
  width: 100%;
}

.description {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.about h1 {
  text-align: left;
  font-weight: bold;
  font-size: 3em;
  margin-top: 1.5em;
  font-family: 'Julius Sans One', sans-serif;
}
.about img {
  height: 9em;
  width: 9em;
}

.about h3 {
  display: block;
}

.about small {
  display: block;
}

footer {
  position: absolute;
  bottom: 0;
}

/********************* Leaflet Overrides  ********************/
.angular-leaflet-map {
  position: relative;
  z-index: 1;
  padding: 0;
  height: 100%;
  width: 100%;
}

.leaflet-control-geosearch, .leaflet-control-geosearch ul {
  font-size:.8em;
  padding:.6em .6em .6em .3em;
  display:block;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border:none;
  margin-top: .25em;
  border-radius: .1em;
}

.leaflet-control-container, .leaflet-top.leaflet-center {
  width: 100%;
  margin-top: 1em;
}
.leaflet-control-geosearch.leaflet-control {
  margin-left: 8em;
  width: 100%;
  display: block;
  margin-top: 0;
  padding-top: 0;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  margin-left: 2em;
}

#leaflet-control-geosearch-qry {
  width: 50%;
  height: 3em;
  text-indent: 1em;
  border-radius: .1em;
  font-size: 1.2em;
  border: none;
  -webkit-box-shadow: .1em .1em .1em 0 gray;
  -moz-box-shadow:    .1em .1em .1em 0 gray;
  box-shadow:         .1em .1em .1em 0 gray;
}

.leaflet-control-container {
  position: absolute;
  margin-top: 5em;
}


/************** Dashboard *************/

body #homePortal {
  overflow: auto;
}
div.group {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: .1em;
}

.group > input{
  font-size:1.1em;
  padding:.6em .6em .6em .3em;
  display:block;
  margin-left: 0;
  border:none;
  margin-top: .25em;
  border-radius: .1em;

}

input[type="submit"] {
  margin-left: auto;
  margin-right: auto;
}
input:focus{
  outline:none;
}

.btn.btn-default.btn-raised.white {
  background-color: white;
}

#ownerDashboard .btn.btn-default.btn-raised.white {
  margin-left: auto;
  margin-right: auto;
  height: 2em;
  width: 75%;
  display: block;
  padding: .3em;
  font-size: 1em;
}

#ownerDashboard span.glyphicon {
  float: right;
}

input[type="submit"].time {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  text-indent: none;
  padding: .3em 0;
}

#ownerDashboard{
  position: absolute;
  margin-top: 5em;
  width: 30%;
  right: 0;
  top: 0;
  color: black;
  box-sizing: border-box;
  margin-right: 2.5em;
  z-index: 20;
  font-size: .8em;
  padding: 0;
  text-shadow: .03em .03em .03em rgba(50, 50, 50, 0.5);
  -webkit-border-radius: .1em;
  -moz-border-radius: .1em;
  border-radius: .1em;
  background: rgb(95, 0, 0);
  background: -moz-linear-gradient(90deg, rgb(95, 0, 0) 30%, rgb(104, 0, 0) 70%);
  background: -webkit-linear-gradient(90deg, rgb(95, 0, 0) 30%, rgb(104, 0, 0) 70%);
  background: -o-linear-gradient(90deg, rgb(95, 0, 0) 30%, rgb(104, 0, 0) 70%);
  background: -ms-linear-gradient(90deg, rgb(95, 0, 0) 30%, rgb(104, 0, 0) 70%);
  background: linear-gradient(0deg, rgb(95, 0, 0) 30%, rgb(104, 0, 0) 70%);
  -webkit-box-shadow: 0 .1em .05em rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0 .1em .05em rgba(50, 50, 50, 0.75);
  box-shadow:         0 .1em .05em rgba(50, 50, 50, 0.75);
}

container#mapContainer .errorMessage {
  position: absolute;
  bottom: 2em;
  color: black;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  z-index: 20;
}

#ownerDashboard .group > input{
  width: 90%;
  height: 2.5em;
  text-indent: 1em;
  margin-left: auto;
  margin-right: auto;
}

#ownerDashboard ol {
  padding: 0;
  margin: 0;
}

.list-group-item.addressSelect {
  font-size: .9em;
}

#ownerDashboard label{
  color: white;
  text-indent: 1.5em;
  font-weight: normal;
  width: 30%;
  font-size: 1em;
  display: inline-block;
}

#ownerDashboard .radio label {
  text-indent: 0;
}

#ownerDashboard div.time {
  display: inline-block;
  margin-bottom: 1em;
  width: 45%;
  margin-right: .2em;
  margin-left: .8em;
  text-align:left;
}

#ownerDashboard div.time label {
  width: 95%%;
  display: block
  margin-right: auto;
  margin-left: auto;
  position: relative;
  font-weight: 100;
  font-size: 1.2em;
  text-indent: 0;
  text-decoration: underline;
  text-align: center;
}

table.clock{
  color: white;
  white-space: no-wrap;
  table-layout: fixed;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  font-size: 1em;
  -webkit-border-radius: 1.2em;
  -moz-border-radius: 1.2em;
  border-radius: 1.2em;
  background: rgb(95, 0, 0);
  background: -moz-linear-gradient(90deg, rgb(95, 0, 0) 25%, rgb(140, 0, 0) 75%);
  background: -webkit-linear-gradient(90deg, rgb(95, 0, 0) 25%, rgb(140, 0, 0) 75%);
  background: -o-linear-gradient(90deg, rgb(95, 0, 0) 25%, rgb(140, 0, 0) 75%);
  background: -ms-linear-gradient(90deg, rgb(95, 0, 0) 25%, rgb(140, 0, 0) 75%);
  background: linear-gradient(0deg, rgb(95, 0, 0) 25%, rgb(140, 0, 0) 75%);
  -webkit-box-shadow: .2em .2em .2em rgba(20, 20, 20, .5);
  -moz-box-shadow:    .2em .2em .2em rgba(20, 20, 20, .5);
  box-shadow:         .2em .2em .2em rgba(20, 20, 20, .5);
}

table.clock span.glyphicon-chevron-up:hover {
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
  -webkit-transform: translate(0, -.3em);
  transform: translate(0, -.3em);
  color: rgba(230, 230, 230, .8);
}

table.clock span.glyphicon-chevron-down:hover {
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
  -webkit-transform: translate(0, .3em);
  transform: translate(0, .3em);
  color: rgba(230, 230, 230, .8);
}

.clock td:nth-child(1),
.clock td:nth-child(3),
.clock td:nth-child(4) {
  width: 30% !important;
  color: white;
  padding-right: .5em;
  padding-left: .5em;
}
.clock td:nth-child(2) {
  width: 10% !important;
  color: white;
  padding: .5em;
}


.clock tr {
  height: 1.5em;
  padding: 0;
  margin: 0;
}


tbody td.form-group input  {
  color: white;
  border-bottom: 1px solid white;
  font-weight: normal;
}

tbody tr.text-center td a{
  color: white;
  margin: 0;
  padding: 0;
}

.btn.btn-default.text-center {
  padding: 0;
  margin: 0 .5em 0 0;
  color: white;
}

#ownerDashboard div.radio > label {
  width: 80%;
}

#ownerDashboard li.mainItem {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  text-indent: .3em;
  padding: .6em;
  color: #680000;
  text-shadow: .03em .03em .03em rgba(50, 50, 50, 0.5);
  --webkit-border-radius: .1em;
  -moz-border-radius: .1em;
  border-radius: .1em;
  background: rgb(226, 226, 226);
  background: -moz-linear-gradient(90deg, rgb(230, 230, 230) 30%, rgb(255, 255, 255) 70%);
  background: -webkit-linear-gradient(90deg, rgb(230, 230, 230) 30%, rgb(255, 255, 255) 70%);
  background: -o-linear-gradient(90deg, rgb(230, 230, 230) 30%, rgb(255, 255, 255) 70%);
  background: -ms-linear-gradient(90deg, rgb(230, 230, 230) 30%, rgb(255, 255, 255) 70%);
  background: linear-gradient(0deg, rgb(230, 230, 230) 30%, rgb(255, 255, 255) 70%);
  -webkit-box-shadow: .05em .05em .05em rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    .05em .05em .05em rgba(50, 50, 50, 0.75);
  box-shadow:         .05em .05em .05em rgba(50, 50, 50, 0.75);
}

div.togglebutton, #ownerDashboard div.togglebutton label {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.togglebutton label .toggle, .togglebutton label input[type="checkbox][disabled"]:first-child+.toggle{
  width: 95%;
}

#ownerDashboard li.list-group-item.addressSelect:hover,#ownerDashboard li.list-group-item.addressSelect:active, #ownerDashboard li.list-group-item.addressSelect:focus {
  cursor: pointer;
  color: #680000;
  font-weight: bold;
}

.group > input.register {
  margin-top: .6em;
  font-size: .9em;
}

select.register, select.register:focus {
  background: white;
}

#ownerDashboard .group > select {
  margin-top: .6em;
  display: inline-block;
  font-size: .9em;
  width: 63%;
  height: 2.5em;
}

#ownerDashboard .group > input.register.zip {
  padding: 0;
  margin-top: .6em;
  width: 63%;
  text-indent: .3em;
  display: inline-block;
}

.radio input[type=radio] {
  display: inline-block;
}

.mdi-image-timelapse, .mdi-navigation-cancel {
  font-size: 1.5em;
  vertical-align: middle;
  margin-right: .2em;
  float: right;
}