html, body {
  height: 100%;
}

.background{
  background: url('../assets/sydney-flight.jpg') top center no-repeat;
  background-size: 100%;
}

.fullStretch {
  height: 100%;
}

.group{ 
  position:relative; 
  margin-bottom:45px; 
}

container.container-fluid.clearfix {
  height: 100%;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

input{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}

input:focus{
  outline:none;
}

#signin, #signup {
  margin-left: auto;
  margin-right: auto;
}

h1.title{

}