<div id='signup'>
  <div class="row">
    <h1 class="title">DronePass</h1>
    <p class="subtitle"> Manage your airspace interactions with drones</h1>
    <form name="signupForm" ng-submit="signup()">
      <div class="group">
        <input type='email' placeholder="email"ng-model='user.username' required>
        <span class="highlight"></span>
        <span class="bar"></span>
      </div>
      <div class="group">
        <input type='text' placeholder="name" ng-model='user.name' required>
        <span class="highlight"></span>
        <span class="bar"></span>
      </div>
      <div class="group">
        <input type="password" placeholder="password" ng-model='user.password' required>
        <span class="highlight"></span>
        <span class="bar"></span>
      </div>
      <input type="submit" value="Sign Up" class="btn btn-default btn-raised white" >
    </form>
    <a class="link" href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
  <div class="row">
</div>
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
