<div id='signup'>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-6"> 
      <h1 class="title">DronePass</h1>
      <p class="subtitle"> Manage your airspace interactions with drones</p>
      <form name="signupForm" ng-submit="signup()">
        <div class="group">
          <input type='email' placeholder="email"ng-model='user.username' required>
          <span class="highlight"></span>
          <span class="bar"></span>
        </div>
        <div class="group">
          <input type='text' placeholder="name" ng-model='user.name' required>
          <span class="highlight"></span>
          <span class="bar"></span>
        </div>
        <div class="group">
          <input type="password" placeholder="password" ng-model='user.password' required>
          <span class="highlight"></span>
          <span class="bar"></span>
        </div>
        <input type="submit" value="Sign Up" class="btn btn-default btn-raised white" >
      </form>
      <a class="link" href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
      <div class="errorMessage fx-fade-down fx-speed-2000" ng-if="newError"> <i class="mdi-alert-warning"></i>{{errorMessage}}</div>
      </div> <!-- col.xs.6 -->
      <div class="col-xs-5"></div>
    </div> <!-- end row -->
</div>
